[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git



[submodule "xmlparser"]
	path = xmlparser
	url = https://github.com/h4me/xmlparser.git



[submodule "3party"]
	path = 3party
	url = https://github.com/h4me/3party.git


